.btn-1 {
    position: relative;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 2px;
    background-color: $color-green-dark;
    color: white;
    font-weight: bold;
    transition: all .5s;
    letter-spacing: .5px;
    &:hover {
        background-color: $color-green-light;
        transition: all .5s;
    }
}