                        .header {
                            position: relative;
                            height: 110rem;
                            width: 100%;
                            @include respond(tablet-port) {
                                height: 240rem;
                            }
                            @include respond(phone) {
                                height: 200rem;
                            }
                            &-center {
                                position: absolute;
                                top: 3rem;
                                left: 3.5rem;
                                height: 65rem;
                                width: 95%;
                                background-color: rgb(241, 236, 236);
                                @include respond(tablet-landscape) {
                                    width: 94%;
                                }
                                @include respond(tablet-port) {
                                    width: 90%;
                                    height: 126rem;
                                }
                                @include respond(phone) {
                                    left: 2.5rem;
                                    height: 91rem;
                                }
                            }
                            &-left {
                                position: relative;
                                left: -7rem;
                                height: 65rem;
                                width: fit-content;
                                @include respond(tablet-landscape) {
                                    left: -3rem;
                                }
                                & img {
                                    position: absolute;
                                    left: 0;
                                    height: 65rem;
                                    @include respond(tablet-landscape) {
                                        left: 3rem;
                                    }
                                    @include respond(tablet-port) {
                                        top: 0;
                                        left: -8.5rem;
                                        height: 55rem;
                                    }
                                    @include respond(phone) {
                                        top: 0;
                                        left: 0rem;
                                        height: 45rem;
                                    }
                                }
                                & h5 {
                                    position: absolute;
                                    top: 10rem;
                                    left: 10rem;
                                    font-size: 1.8rem;
                                    color: $color-green-light;
                                    @include respond(tablet-port) {
                                        width: 20rem;
                                        top: 4rem;
                                        left: 5rem;
                                    }
                                    @include respond(phone) {
                                        width: 20rem;
                                        top: 2rem;
                                        left: 10rem;
                                    }
                                }
                                & h1 {
                                    position: absolute;
                                    top: 15rem;
                                    left: 10rem;
                                    font-size: 4rem;
                                    letter-spacing: 1px;
                                    word-spacing: 2px;
                                    width: fit-content;
                                    text-align: left;
                                    font-weight: normal;
                                    @include respond(tablet-port) {
                                        top: 9rem;
                                        width: 40rem;
                                        left: 05rem;
                                    }
                                    @include respond(phone) {
                                        top: 7rem;
                                        width: 40rem;
                                        left: 10rem;
                                    }
                                }
                                & p {
                                    position: relative;
                                    top: 35rem;
                                    left: 10rem;
                                    font-size: 2rem;
                                    letter-spacing: 1px;
                                    word-spacing: 2px;
                                    @include respond(tablet-port) {
                                        top: 29rem;
                                        width: 40rem;
                                        left: 5rem;
                                    }
                                    @include respond(phone) {
                                        top: 27rem;
                                        width: 40rem;
                                        left: 10rem;
                                    }
                                }
                                & h6 {
                                    position: absolute;
                                    top: 55rem;
                                    left: 10rem;
                                    font-size: 1.5rem;
                                    transition: all .5s;
                                    cursor: pointer;
                                    @include respond(tablet-port) {
                                        top: 47rem;
                                        left: 5rem;
                                    }
                                    @include respond(phone) {
                                        top: 42rem;
                                        left: 10rem;
                                    }
                                    &:hover {
                                        color: $color-green-dark;
                                    }
                                }
                            }
                            &-right {
                                position: relative;
                                height: 65rem;
                                width: fit-content;
                                & img {
                                    position: absolute;
                                    height: 65rem;
                                    perspective: 50;
                                    left: 5rem;
                                    transition: all .5s;
                                    background-position: bottom;
                                    cursor: pointer;
                                    @include respond(tablet-landscape) {
                                        width: 40rem;
                                    }
                                    @include respond(tablet-port) {
                                        top: -10rem;
                                        left: -13rem;
                                        height: 65rem;
                                        width: 47rem;
                                    }
                                    @include respond(phone) {
                                        top: -25rem;
                                        left: -3rem;
                                        height: 45rem;
                                        width: 35rem;
                                    }
                                    &:hover {
                                        transform: scale(.97);
                                    }
                                }
                                &-1 {
                                    position: relative;
                                    left: 11.7rem;
                                    height: 25rem;
                                    width: 29.3rem;
                                    background-color: $color-green-light;
                                    @include respond(tablet-landscape) {
                                        left: 5.4rem;
                                        width: 28.2rem;
                                    }
                                    @include respond(tablet-port) {
                                        top: -81rem;
                                        left: 34rem;
                                        height: 25rem;
                                    }
                                    @include respond(phone) {
                                        top: -96rem;
                                        width: 21.5rem;
                                        left: 29.4rem;
                                        height: 15rem;
                                    }
                                    & h2 {
                                        position: absolute;
                                        left: 4rem;
                                        top: 3rem;
                                        font-size: 3rem;
                                        font-weight: normal;
                                        color: white;
                                        @include respond(phone) {
                                            width: fit-content;
                                            left: 1rem;
                                        }
                                    }
                                    & p {
                                        position: absolute;
                                        left: 3.5rem;
                                        top: 9rem;
                                        width: 22rem;
                                        font-size: 1.5rem;
                                        line-height: 2rem;
                                        color: white;
                                        text-align: center;
                                        @include respond(phone) {
                                            display: none;
                                        }
                                    }
                                    & h6 {
                                        position: absolute;
                                        top: 17rem;
                                        left: 7.5rem;
                                        font-size: 1.5rem;
                                        color: white;
                                        transition: all .5s;
                                        cursor: pointer;
                                        @include respond(phone) {
                                            top: 10rem;
                                            left: 4rem;
                                        }
                                        &:hover {
                                            color: $color-green-dark;
                                        }
                                    }
                                }
                                &-2 {
                                    position: relative;
                                    top: 0rem;
                                    left: 11.7rem;
                                    height: 27rem;
                                    width: 29.3rem;
                                    background-color: $color-green-dark;
                                    @include respond(tablet-landscape) {
                                        left: 5.4rem;
                                        width: 28.2rem;
                                    }
                                    @include respond(tablet-port) {
                                        top: -81rem;
                                        left: 34rem;
                                        height: 25rem;
                                    }
                                    @include respond(phone) {
                                        top: -96rem;
                                        width: 21.5rem;
                                        left: 29.4rem;
                                        height: 20rem;
                                    }
                                    & h2 {
                                        position: absolute;
                                        left: 5rem;
                                        top: 4rem;
                                        font-size: 3rem;
                                        font-weight: normal;
                                        color: white;
                                        @include respond(phone) {
                                            width: fit-content;
                                            left: 2.5rem;
                                        }
                                    }
                                    & p {
                                        position: absolute;
                                        left: 3.5rem;
                                        top: 10rem;
                                        width: 22rem;
                                        font-size: 1.5rem;
                                        line-height: 2rem;
                                        color: white;
                                        text-align: center;
                                        @include respond(phone) {
                                            left: .5rem;
                                            top: 9rem;
                                        }
                                    }
                                    & h6 {
                                        position: absolute;
                                        top: 18rem;
                                        left: 7.5rem;
                                        font-size: 1.5rem;
                                        color: white;
                                        transition: all .5s;
                                        cursor: pointer;
                                        @include respond(phone) {
                                            top: 16rem;
                                            left: 4rem;
                                        }
                                        &:hover {
                                            color: $color-green-light;
                                        }
                                    }
                                }
                                &-3 {
                                    position: relative;
                                    top: 0rem;
                                    left: 11.7rem;
                                    height: 13rem;
                                    width: 29.3rem;
                                    background-color: $color-green-lighty;
                                    @include respond(tablet-landscape) {
                                        left: 5.4rem;
                                        width: 28.2rem;
                                    }
                                    @include respond(tablet-port) {
                                        top: -81rem;
                                        left: 34rem;
                                        height: 15rem;
                                    }
                                    @include respond(phone) {
                                        top: -96rem;
                                        width: 21.5rem;
                                        left: 29.4rem;
                                        height: 10rem;
                                    }
                                    cursor: pointer;
                                    & h2 {
                                        position: absolute;
                                        left: 4.5rem;
                                        top: 4rem;
                                        font-size: 3.5rem;
                                        font-weight: normal;
                                        color: white;
                                        cursor: pointer;
                                        transition: all .5s;
                                        @include respond(phone) {
                                            left: 1rem;
                                        }
                                        &:hover {
                                            color: $color-green-dark;
                                        }
                                    }
                                }
                            }
                            &-bottom {
                                position: relative;
                                top: 70rem;
                                height: 40rem;
                                @include respond(tablet-port) {
                                    top: 130rem;
                                }
                                @include respond(phone) {
                                    top: 80rem;
                                }
                                & h4 {
                                    position: absolute;
                                    top: 15%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: $color-green-light;
                                    font-size: 2rem;
                                    @include respond(phone) {
                                        top: 40%;
                                        width: fit-content;
                                    }
                                }
                                & h1 {
                                    position: absolute;
                                    top: 30%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: black;
                                    font-size: 4rem;
                                    @include respond(tablet-port) {
                                        top: 30%;
                                        width: fit-content;
                                    }
                                    @include respond(phone) {
                                        top: 50%;
                                        width: fit-content;
                                    }
                                }
                                .move-down {
                                    position: relative;
                                    top: 18rem;
                                    @include respond(tablet-port) {
                                        left: 10rem;
                                    }
                                    @include respond(phone) {
                                        left: 13rem;
                                        top: 25rem;
                                    }
                                }
                                .icon-1 {
                                    height: 20rem;
                                    width: 25rem;
                                    text-align: center;
                                    box-sizing: border-box;
                                    transition: all .5s;
                                    &:hover {
                                        transform: scale(1.1);
                                    }
                                    & .icon {
                                        font-size: 10rem;
                                        color: $color-green-light;
                                        padding-top: 2rem;
                                    }
                                    & h2 {
                                        font-size: 2rem;
                                        padding-top: 2rem;
                                        transition: all .5s;
                                        letter-spacing: 2px;
                                        cursor: pointer;
                                        &:hover {
                                            color: $color-green-light;
                                            transform: scale(0.98);
                                        }
                                    }
                                }
                            }
                        }