.smart-phone {
    position: relative;
    height: 75rem;
    width: 100%;
    &-center {
        position: absolute;
        top: 3rem;
        left: 3.5rem;
        height: 65rem;
        width: 95%;
        background-color: rgb(241, 236, 236);
        @include respond(tablet-landscape) {
            width: 94%;
        }
        @include respond(phone) {
            left: 1.9rem;
        }
        & h5 {
            position: absolute;
            top: 8rem;
            font-size: 2rem;
            color: $color-green-light;
            @include respond(tablet-landscape) {
                left: 5rem;
            }
        }
        & h1 {
            position: absolute;
            top: 17rem;
            width: fit-content;
            font-size: 4rem;
            letter-spacing: 1px;
            word-spacing: 2px;
            text-align: left;
            font-weight: normal;
            @include respond(tablet-landscape) {
                left: 5rem;
            }
        }
        & p {
            position: relative;
            top: 30rem;
            font-size: 2rem;
            letter-spacing: 1px;
            word-spacing: 2px;
            color: gray;
            @include respond(tablet-landscape) {
                left: 5rem;
            }
            @include respond(phone) {
                left: 2rem;
            }
        }
        .img-6 {
            height: 65rem;
            width: 61rem;
            background-size: cover;
            @include respond(tablet-landscape) {
                width: 100%;
            }
            @include respond(tablet-port) {
                display: none;
            }
            @include respond(phone) {
                display: none;
            }
        }
        .btn-down {
            top: 40rem;
            @include respond(tablet-landscape) {
                left: 5rem;
            }
            @include respond(tablet-port) {
                padding: 1rem 2rem;
            }
            @include respond(phone) {
                left: 2rem;
            }
        }
    }
}